html {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
body {
    background-color: #f5f5dc;
}

#main-header {
    border-radius: 15 px;
}


#main-content {
    border-radius: 15 px;
}

#main-footer {

}